<!DOCTYPE html>
<html lang="en">

	<head>

		<!-- Meta Tag -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
		http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- SEO -->
		<meta name="description" content="150 words">
		<meta name="author" content="uipasta">
		<meta name="url" content="http://www.yourdomainname.com">
		<meta name="copyright" content="company name">
		<meta name="robots" content="index,follow">


        <title>
            {% block title %}Welcome!{% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


	</head>
<style>
	.background-wallpaper-container {
		background-color: blue;
		width: 100vw;
		height: 40vh;
		margin:0px;
	}

	.background-wallpaper{
		width: 100%;
		height: 100%;
	}

	html,body {
		margin:0;
		padding:0;
		overflow-x:hidden;
	}
</style>


<body class="body-container">

		{# <!-- Preloader Start -->
		<div class="preloader">
			<div class="rounder"></div>
		</div>
		<!-- Preloader End --> #}

		<div class="background-wallpaper-container">
			background euh
		<img src="{{ asset('build/images/template-imgs/recyclage-rechauffement-climatique.png') }}" alt="" class="background-wallpaper"/>

		</div>
		<div id="main" style='display:flex;justify-content:center'>
			<div class="container" style='width: 45vw;'>
				<div
					class="row">

					<!-- Blog Post (Right Sidebar) Start -->
					<div class="col-md-9">
						<div class="col-md-12 page-body">
							<div class="row">


                                <div class="sub-title">
                                    <h2 class="green-text">
                                        {% block header %}you should set a header
                                        {% endblock %}
                                    </h2>
                                    <i class="icon-bubbles" class="green-text"></i>
                                </div>

								<div class="col-md-12 content-page" style="padding-left:20px;padding-right:20px;">



									<!-- page content start -->
                                    {% block body %}
                                    default content
                                    {% endblock %}
                                    <!-- page content end -->

									<!-- Load button Start -->

									<!-- Load button Ends -->

								</div>

							</div>

						</div>


						<!-- Footer Start -->
						<div class="col-md-12 page-body margin-top-50 footer">
							<footer></footer>
						</div>
						<!-- Footer End -->


					</div>
					<!-- Blog Post (Right Sidebar) End -->

				</div>
			</div>
		</div>


			<!-- Back to Top Start -->
			<a href="#" class="scroll-to-top">
				<i class="fa fa-long-arrow-up"></i>
			</a>
			<!-- Back to Top End -->
		</body>
	</body>
</html>

<!-- All Javascript Plugins  -->

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
